* {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

h1,h2,h3,h4,h5,h6,p {
    height: auto;
    overflow-y: hidden;
}
//Global variables
$primaryColor: #DE660B;


//Presets

.navbar{
    z-index: 100;
}
.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text i {
    color: $primaryColor;
    font-size: 30px;
}

.dark-pink-text {
    color: #AC003A;
}

.dark-amber-text {
    color: #ff6f00;
}

.dark-teal-text {
    color: #004d40;
}

.info {
    color: #ffffff;
    min-height: 600px;
}


/*
* Fix for 2k and above display
*/
@media screen and(max-width:1836px){
    .t-i_container {
        width: 60vw !important;
    }
}

@media screen and(min-width:2200px){
    .t-i_container {
        width: 35vw !important;
    }
}


@media screen and(min-width:1240px){
    .head {
        .backgroundImg{
            position: relative;
    
            .navigation {
                position: absolute;
                z-index: 100;
            }
            .text{
                position: absolute;
                width: 100%;
                height: 100%;

                .t-i_container{
                    width: 40vw;
                    margin: auto;
                    
                    .text-name {
                        float: right;
                        width: 28rem;
                        .text-1 {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 86px;
                            text-align: center;
                            margin-top: 200px;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: -30%;
                        }
        
                        .text-2{
                            color: #DE660B;
                            font-weight: bold;
                            font-size: 86px;
                            text-align: center;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: 20%;
                        }
        
                        .text-3 {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 29px;
                            text-align: center;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: -30%;
                        }
                    }
                    #profileImg{
                        width: 286px;
                        height: 286px;
                        position: relative;
                    }

                    #backProfileImg{
                        height: 286px;
                        width: 286px;
                        display: block;
                        float: left;
                        margin-top: 200px;
                        .profileImgColor {
                            background-color: #de660b;
                            border-radius: 20px;
                            width: 286px;
                            height: 286px;
                            position: absolute;
                            margin-left: 10px;
                            margin-top: 10px;
                            opacity: 69%;
                        }
                    }
                }
            }
            img {
                width: 100vw;
                height: 97vh;   
            }
        }
    }
}


@media screen and (max-width:1240px) and (min-width: 501px){
    .head {
        .backgroundImg{
            position: relative;
    
            .navigation {
                position: absolute;
            }
            .text{
                position: absolute;
                width: 100%;
                height: 100%;

                .t-i_container{
                    width: 100vw !important;
                    margin: auto;
                    
                    .text-name {
                        width: 100%;
                        text-align: center;
                        .text-1 {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 86px;
                            text-align: center;
                            margin-top: 200px;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: -30%;
                        }
        
                        .text-2{
                            color: #DE660B;
                            font-weight: bold;
                            font-size: 86px;
                            text-align: center;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: 20%;
                        }
        
                        .text-3 {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 29px;
                            text-align: center;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: -30%;
                        }
                    }
                }
            }
            img {
                width: 100vw;
                height: 97vh;   
            }
        }
    }
}


@media screen and (max-width:500px){
    .head {
        .backgroundImg{
            position: relative;
    
            .navigation {
                position: absolute;
            }
            .text{
                position: absolute;
                width: 100%;
                height: 100%;
                .t-i_container{
                    width: 100vw !important;
                    margin: auto;
                    
                    .text-name {
                        width: 100%;
                        text-align: center;
                        .text-1 {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 53px;
                            text-align: center;
                            margin-top: 200px;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: -30%;
                        }
        
                        .text-2{
                            color: #DE660B;
                            font-weight: bold;
                            font-size: 53px;
                            text-align: center;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: 20%;
                        }
        
                        .text-3 {
                            color: #ffffff;
                            font-weight: bold;
                            font-size: 27px;
                            text-align: center;
                            text-shadow: 3px 3px 6px #4D4D4D;
                            overflow: hidden;
                            margin-left: -10%;
                        }
                    }
                }
            }
            img {
                width: 100vw;
                height: 97vh;   
            }
        }
    }
}



.flex-50{
    flex: 50%;
    max-width: 50%;
}

//Graph  / Info
.info {
    min-height: 500px;
    // max-height: auto;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 40px;

    div:last-child{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        // justify-content: center;
        // align-items: center;
        flex-direction: row;
        // margin-top: 100px;
        .flex-50 {
            // text-align: center;
            div{
                margin-top: 70px;
                // justify-content: flex-start;
                width: 100%;
                height: auto;
                h2:first-child {
                    width: 100%;
                    font-size: 3.5rem !important;
                    color: #DE660B !important;
                    font-weight: bold;
                    // text-align: center;
                    margin-left: 15%;
                    text-shadow: 3px 3px 6px #4D4D4D;
                }
                div {
                    img {
                        width: 14rem;
                        margin-left: 20%;
                        border-radius: 40px;
                        float: left;
                        padding-right: 10px;
                    }

                    p {
                        font-size: 35px !important;
                        color: #636363 !important;
                        font-weight: 400;
                        // text-align: center;
                        margin-left: 20%;
                        text-shadow: 1px 1px 6px black;
                    }
                }
                p{
                    color: black !important;
                    margin-left: 20%;
                    font-size: 1.5rem !important;
                }
            }
            div:last-child {
                h2:first-child {
                    width: 100%;
                    font-size: 3.5rem !important;
                    color: #DE660B !important;
                    font-weight: bold;
                    // text-align: center;
                    margin-left: 15%;
                    text-shadow: 3px 3px 6px #4D4D4D;
                }
                .horiGraph {
                    margin-top: 70px !important;
                    justify-content: flex-end;
                    margin-left: 30vw;
                    // #left {
                    //     // float: right;
                    //     position: absolute;
                    //     float: left;
                    //     width: 20px;
                    //     height: 300px;
                    //     margin-top: 0px !important;
                    // }
                    #lang{
                        float: right;
                        width: auto;
                        height: auto;
                        margin-top: 0px !important;
                        #lineHoriGraph{

                            height: 330px;
                            width: 5px;
                            background-color:#707070;
                            position: absolute;
                            margin-top: 0px;
                            // margin-right: 15vw;
                            border-radius: 10px;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                        }
                        h3{
                            color: black;
                            position: relative;
                            width: 100%;
                            margin-top: 20px;
                            margin-left: 10px;

                        }
                        
                    }
                }
            }
        }
    }
}


//latest-proj

#latest-proj {
    min-height: 500px;
    // max-height: auto;
    width: 100%;
    background-color: #636363;
    padding-bottom: 40px;
    
    h2:first-child {
        text-align: center;
        margin-top: 40px;
        font-size: 3rem;
        color: #DE660B;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px 6px #4D4D4D;
    }

    div:last-child{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .proj-feautures {
            flex: 33%;
            max-width: 33%;
            text-align: center;
            #proj-feautures__img{
                margin-top: 8px;
                width: 28vw;
                z-index: 10;
                box-shadow: -7px -10px  #DE660B;
            }
        }

        .proj-feautures:nth-child(1){
            margin-top: 20px;
        }
        .proj-feautures:nth-child(2){
            margin-top: 140px;
        }
        .proj-feautures:nth-child(3){
            margin-top: 20px;
        }
    }
}

//Footer

.footer {
    width: 100%;
    min-height: 500px;
    
    background-color: rgba(0, 0, 0, 0.8) !important;
}