* {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, p {
  height: auto;
  overflow-y: hidden;
}

.navbar {
  z-index: 100;
}

.fa-1x {
  font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
}

.dark-blue-text i {
  color: #DE660B;
  font-size: 30px;
}

.dark-pink-text {
  color: #AC003A;
}

.dark-amber-text {
  color: #ff6f00;
}

.dark-teal-text {
  color: #004d40;
}

.info {
  color: #ffffff;
  min-height: 600px;
}

/*
* Fix for 2k and above display
*/
@media screen and (max-width: 1836px) {
  .t-i_container {
    width: 60vw !important;
  }
}

@media screen and (min-width: 2200px) {
  .t-i_container {
    width: 35vw !important;
  }
}

@media screen and (min-width: 1240px) {
  .head .backgroundImg {
    position: relative;
  }
  .head .backgroundImg .navigation {
    position: absolute;
    z-index: 100;
  }
  .head .backgroundImg .text {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .head .backgroundImg .text .t-i_container {
    width: 40vw;
    margin: auto;
  }
  .head .backgroundImg .text .t-i_container .text-name {
    float: right;
    width: 28rem;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 86px;
    text-align: center;
    margin-top: 200px;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: -30%;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-2 {
    color: #DE660B;
    font-weight: bold;
    font-size: 86px;
    text-align: center;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: 20%;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 29px;
    text-align: center;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: -30%;
  }
  .head .backgroundImg .text .t-i_container #profileImg {
    width: 286px;
    height: 286px;
    position: relative;
  }
  .head .backgroundImg .text .t-i_container #backProfileImg {
    height: 286px;
    width: 286px;
    display: block;
    float: left;
    margin-top: 200px;
  }
  .head .backgroundImg .text .t-i_container #backProfileImg .profileImgColor {
    background-color: #de660b;
    border-radius: 20px;
    width: 286px;
    height: 286px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 69%;
  }
  .head .backgroundImg img {
    width: 100vw;
    height: 97vh;
  }
}

@media screen and (max-width: 1240px) and (min-width: 501px) {
  .head .backgroundImg {
    position: relative;
  }
  .head .backgroundImg .navigation {
    position: absolute;
  }
  .head .backgroundImg .text {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .head .backgroundImg .text .t-i_container {
    width: 100vw !important;
    margin: auto;
  }
  .head .backgroundImg .text .t-i_container .text-name {
    width: 100%;
    text-align: center;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 86px;
    text-align: center;
    margin-top: 200px;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: -30%;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-2 {
    color: #DE660B;
    font-weight: bold;
    font-size: 86px;
    text-align: center;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: 20%;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 29px;
    text-align: center;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: -30%;
  }
  .head .backgroundImg img {
    width: 100vw;
    height: 97vh;
  }
}

@media screen and (max-width: 500px) {
  .head .backgroundImg {
    position: relative;
  }
  .head .backgroundImg .navigation {
    position: absolute;
  }
  .head .backgroundImg .text {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .head .backgroundImg .text .t-i_container {
    width: 100vw !important;
    margin: auto;
  }
  .head .backgroundImg .text .t-i_container .text-name {
    width: 100%;
    text-align: center;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 53px;
    text-align: center;
    margin-top: 200px;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: -30%;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-2 {
    color: #DE660B;
    font-weight: bold;
    font-size: 53px;
    text-align: center;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: 20%;
  }
  .head .backgroundImg .text .t-i_container .text-name .text-3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-shadow: 3px 3px 6px #4D4D4D;
    overflow: hidden;
    margin-left: -10%;
  }
  .head .backgroundImg img {
    width: 100vw;
    height: 97vh;
  }
}

.flex-50 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}

.info {
  min-height: 500px;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 40px;
}

.info div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info div:last-child .flex-50 div {
  margin-top: 70px;
  width: 100%;
  height: auto;
}

.info div:last-child .flex-50 div h2:first-child {
  width: 100%;
  font-size: 3.7rem !important;
  color: #DE660B !important;
  font-weight: bold;
  margin-left: 15%;
  text-shadow: 3px 3px 6px #4D4D4D;
}

.info div:last-child .flex-50 div p {
  color: black !important;
  margin-left: 20%;
  font-size: 1.5rem !important;
}

.info div:last-child .flex-50 div:last-child .horiGraph {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info div:last-child .flex-50 div:last-child .horiGraph div:first-child {
  float: right;
  width: auto;
  height: auto;
}

.info div:last-child .flex-50 div:last-child .horiGraph div:first-child div {
  height: 400px;
  width: 5px;
  background-color: #707070;
  position: relative;
  margin-right: 15vw;
  border-radius: 10px;
}

.info div:last-child .flex-50 div:last-child .horiGraph div:first-child h3 {
  color: black;
  position: absolute;
  margin-left: 10px;
}

#latest-proj {
  min-height: 500px;
  width: 100%;
  background-color: #636363;
  padding-bottom: 40px;
}

#latest-proj h2:first-child {
  text-align: center;
  margin-top: 40px;
  font-size: 3rem;
  color: #DE660B;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 6px #4D4D4D;
}

#latest-proj div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#latest-proj div:last-child .proj-feautures {
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  text-align: center;
}

#latest-proj div:last-child .proj-feautures #proj-feautures__img {
  margin-top: 8px;
  width: 28vw;
  z-index: 10;
  -webkit-box-shadow: -7px -10px  #DE660B;
          box-shadow: -7px -10px  #DE660B;
}

#latest-proj div:last-child .proj-feautures:nth-child(1) {
  margin-top: 20px;
}

#latest-proj div:last-child .proj-feautures:nth-child(2) {
  margin-top: 140px;
}

#latest-proj div:last-child .proj-feautures:nth-child(3) {
  margin-top: 20px;
}

.footer {
  width: 100%;
  min-height: 500px;
  max-height: auto;
}
/*# sourceMappingURL=main.css.map */